.app-header{

    justify-content: space-between;
    padding-left: 10px;

}
.container {

    border-radius: 5px;

    padding: 25px;
    display: table;
    margin-bottom: inherit;



    text-align:center;


    /*color: black;*/
}



