.root {
    maxWidth: 345;
}
.media {
    height: 100px;
    width: 200px;
}
.expand {
    transform: rotate(0deg);
}
.expandOpen{
    transform: rotate(180deg);
}
.avatar{
    backgroundColor:'red(500)';
}
.media-aboutme{
    height: 200px;
    width: 200px;
}

